#menu{
    background-color: #1d68a7;
}

.sidenav{
    width: 250px;
}

.sidenav a:hover{
    cursor: pointer;
}

#app_content{
    position: fixed;
    height: 100%;
    padding: 20px;
    border:1px solid green;
}

.app-box{
    padding: 20px;
}

.food-block{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.food-content{
    border: 1px solid blue;
    margin: 10px;
}

/* REPAS */

#date-block div,
#meal-block div{
    box-sizing: border-box;
    border: 1px solid black;
}

.fa-chevron-circle-left,
.fa-chevron-circle-right{
    cursor: pointer;
}

#nameDate{
    font-size: 25px;
}