/* AJUSTEMENT MATERIALIZE */

.row{
    margin-bottom: 0;
}

h3{
    margin-top: 0;
    background-color: #1d68a7;
    color: white;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-evenly{
    display: flex;
    justify-content: space-evenly;
}

/* SIDEBAR */

#menu{
    background-color: #1d68a7;
}

.sidenav{
    width: 250px;
}

.sidenav a:hover{
    cursor: pointer;
}

#app_content{
    min-height: 100vh;
    padding: 20px;
}

.app-box{
    padding-left: 20px;
    padding-right: 20px;
}

/* GENERAL */

#profil_block > div,
#myFood_block > div{
    margin-top: 10px;
    margin-bottom: 10px;
    /*border-right: 20px solid #1d68a7;*/
    /*padding-left: 0 !important;
    padding-right: 0 !important;*/
    padding: 5px;
}

/* PROFIL */

.content_blocks{
    min-height: 100%;
    border-radius: 5px;
}

.pad-block{
    padding: 5px;
}

/* MY FOOD */

#myFood_block > div{
    padding: 0;
}

.food-block{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.food-content{
    border: 1px solid blue;
    margin: 10px;
    padding: 0 !important;
}

.food-content div{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid grey;
}

/* REPAS */

#date-block div,
#meal-block div{
    box-sizing: border-box;
    border: 1px solid black;
}

.fa-chevron-circle-left,
.fa-chevron-circle-right{
    cursor: pointer;
}

#nameDate{
    font-size: 25px;
}